nav {
	display: block;
	background-color: #15161e;

	.mobile-controls {
		display: none;
		justify-content: space-between;

		button {
			padding: 1rem;
			border: none;
			font-size: 1.5rem;
			border-radius: 10px;
			background-color: transparent;
			color: var(--foreground-color);

			&.close-menu {
				display: none;
			}

			&:active,
			&:focus {
				background-color: (255 255 255 / 0.1);
			}
		}
	}

	ul {
		display: flex;
		padding: 0;
		margin: 0;
		list-style: none;
		gap: 1rem;
		align-items: center;
		justify-content: end;
		flex-wrap: wrap;

		li.searchbar-area {
			flex-grow: 2;
		}

		.dropdown-trigger,
		a:not(.logo) {
			color: var(--accent-color);
			padding: 1rem;
			transition: background-color, color, ease, 200ms;
			border-radius: 10px;
			display: inline-block;
			white-space: nowrap;
			text-transform: uppercase;

			&:hover,
			&.active {
				background-color: var(--accent-color);
				color: var(--background-color);
			}
		}
	}
}

.logo {
	font-size: 2rem;
	font-weight: bold;
	color: var(--accent-color);
	align-items: center;
	gap: 0.25rem;
  display: flex;
}

.notifications {
	position: fixed;
	bottom: 1rem;
	right: 1rem;
	gap: 0.5rem;
	display: flex;
	flex-direction: column;
	padding: 0;
	margin: 0;
	font-size: 12px;

	&:empty {
		display: none;
	}

	li {
		text-align: center;
		width: 250px;
		background-color: #e0fff4;
		border-radius: 10px;
		border: 1px solid #6f9b76;
		color: #2e4b32;
		padding: 1rem;
		opacity: 1;
		transition: opacity 0.5s ease;
		word-break: break-all;

		&.fade-out {
			opacity: 0;
		}
	}
}

.nav-controls {
	display: flex;
	gap: 1rem;
	flex-direction: column;
}

@media (max-width: 992px) {
	.nav-controls {
		gap: 1rem;
	}
}
