:root {
	color-scheme: dark;
	--background-color: #121f29;
	--foreground-color: #fcfcfc;
	--accent-color: #f6e794;
	--header-color: #afe4d4;
	--tips-color: #53667c;
	--link-color: #c1ff5f;
	--border-color: #333;
}
